// FONT SIZES

// COLORS

// $color-primary:#f2994a;
// $color-secondary: #f2c94c;

$color-primary:#30e8bf;
$color-secondary: #ff8235;

$color-white: #FFF;
$color-black: #000;
$color-grey-1: #777777;
$color-grey-2: #999999;