.form {
    display: flex;

    &__group {
        margin-bottom: 2rem;

        &--button {
            margin: 0 auto;
        }
    }

    &__input {
        width: 100%;
        font-size: 1.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: $color-black;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .6);
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
    }

    &:focus {
        outline: none; //FOR ACCESSIBILITY NEVER MAKE outline:none and nothing else
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
        border-bottom: 3px solid $color-primary;            
    }


    &::-webkit-input-placeholder {
        color: $color-grey-1;
    }

    &__label {
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        color: $color-white;        
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label { 
        //+ is the SIBILING SELECTOR for adjacent, ~ more general
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}